/* Drop Shadow 
/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); - для кнопки*/
/* CSS Rules for fonts
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
:root {
  --black-font-color: #212121;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --grey-color: #757575;
  --bcg-ourteam-color: #f5f4fa;
  --bcg-footer-heroes-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}
body {
  background-color: var(--white-color);
  color: var(--black-font-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.03em;
}
.nav {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo,
.nav-link {
  color: var(--black-font-color);
}
.nav-link,
.contacts-link,
.logo {
  text-decoration: none;
}
.nav-link:hover,
.contacts-link:hover,
.web-logo {
  color: var(--blue-color);
}
.contacts-link {
  color: var(--grey-color);
}
.nav-list,
.contacts {
  list-style: none;
}
/*--INDEX HTML MAIN*/
/*pcls-peculiarities, wwd: what-we-do--sections*/
